In [81]:
import pandas as pd

In [82]:
df = pd.read_csv('wdi_fertility_data.csv')
df.head(10)

,Time,Time Code,Country Name,Country Code,"Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]",GDP (constant 2015 US$) [NY.GDP.MKTP.KD],GDP per capita (constant 2015 US$) [NY.GDP.PCAP.KD],GDP growth (annual %) [NY.GDP.MKTP.KD.ZG],"Physicians (per 1,000 people) [SH.MED.PHYS.ZS]","Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]",...,Consumer price index (2010 = 100) [FP.CPI.TOTL],Crop production index (2014-2016 = 100) [AG.PRD.CROP.XD],Food production index (2014-2016 = 100) [AG.PRD.FOOD.XD],Households and NPISHs final consumption expenditure (% of GDP) [NE.CON.PRVT.ZS],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]","Mortality rate, under-5 (per 1,000 live births) [SH.DYN.MORT]","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.BA.ZS]","Labor force participation rate, female (% of female population ages 15+) (national estimate) [SL.TLF.CACT.FE.NE.ZS]","Children in employment, total (% of children ages 7-14) [SL.TLF.0714.ZS]"
0,1974,YR1974,Argentina,ARG,3.251,2.570000e+11,10105.049510,5.533804,NaN,NaN,...,NaN,30.18,39.59,63.972873,66.563000,54.8,66.1,NaN,NaN,NaN
1,1974,YR1974,Brazil,BRA,4.502,5.270000e+11,4962.922366,8.153939,NaN,NaN,...,NaN,25.70,21.48,67.737286,58.881000,92.4,119.0,NaN,NaN,NaN
2,1974,YR1974,France,FRA,2.180,1.110000e+12,20813.444900,4.300919,1.40,10.50,...,21.038141,87.97,89.90,53.950938,72.604878,12.7,15.4,NaN,NaN,NaN
3,1974,YR1974,Germany,DEU,1.510,1.590000e+12,20141.939480,0.890069,NaN,NaN,...,40.427953,91.47,92.26,55.733180,71.418927,18.7,22.0,NaN,NaN,NaN
4,1974,YR1974,Poland,POL,2.260,NaN,NaN,NaN,1.60,NaN,...,0.023313,128.33,115.44,NaN,71.117073,25.6,29.0,NaN,NaN,NaN
5,1974,YR1974,Nigeria,NGA,6.703,1.400000e+11,2286.364765,11.160675,NaN,NaN,...,0.141357,25.19,24.72,NaN,42.791000,148.6,251.4,NaN,NaN,NaN
6,1974,YR1974,Kenya,KEN,7.907,1.490711e+10,1128.988828,4.065617,NaN,NaN,...,1.262465,21.18,23.23,64.429151,55.634000,84.3,135.5,NaN,NaN,NaN
7,1974,YR1974,United Kingdom,GBR,1.920,1.200000e+12,21412.351210,-2.484404,1.10,NaN,...,13.861098,76.41,84.70,68.523472,72.524390,16.0,18.7,NaN,NaN,NaN
8,1974,YR1974,China,CHN,4.170,2.840000e+11,315.816664,2.310000,0.92,1.85,...,NaN,23.24,18.43,51.879619,60.168000,65.2,90.2,NaN,NaN,NaN
9,1974,YR1974,Japan,JPN,2.050,1.770000e+12,16046.784680,-1.225240,1.10,NaN,...,50.120722,135.37,94.71,47.448999,73.672195,10.6,14.0,NaN,46.5,NaN

In [83]:
df.columns

Index(['Time', 'Time Code', 'Country Name', 'Country Code',
       'Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]',
       'GDP (constant 2015 US$) [NY.GDP.MKTP.KD]',
       'GDP per capita (constant 2015 US$) [NY.GDP.PCAP.KD]',
       'GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]',
       'Physicians (per 1,000 people) [SH.MED.PHYS.ZS]',
       'Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]',
       'Arable land (hectares per person) [AG.LND.ARBL.HA.PC]',
       'Consumer price index (2010 = 100) [FP.CPI.TOTL]',
       'Crop production index (2014-2016 = 100) [AG.PRD.CROP.XD]',
       'Food production index (2014-2016 = 100) [AG.PRD.FOOD.XD]',
       'Households and NPISHs final consumption expenditure (% of GDP) [NE.CON.PRVT.ZS]',
       'Life expectancy at birth, total (years) [SP.DYN.LE00.IN]',
       'Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]',
       'Mortality rate, under-5 (per 1,000 live births) [SH.DYN.MORT]',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.BA.ZS]',
       'Labor force participation rate, female (% of female population ages 15+) (national estimate) [SL.TLF.CACT.FE.NE.ZS]',
       'Children in employment, total (% of children ages 7-14) [SL.TLF.0714.ZS]'],
      dtype='object')

In [84]:
COLUMN_NAME_MAP = {
    "Time": "year",
    "Time Code": "year_code",
    "Country Name": "country_name",
    "Country Code": "country_code",
    "Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]": "total_fertility_rate",
    "GDP (constant 2015 US$) [NY.GDP.MKTP.KD]": "gdp_2015_dollar",
    "GDP per capita (constant 2015 US$) [NY.GDP.PCAP.KD]": "gdp_per_capita_2015_dollar",
    "GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]": "gdp_growth",
    "Physicians (per 1,000 people) [SH.MED.PHYS.ZS]": "physicians_per_1000",
    "Hospital beds (per 1,000 people) [SH.MED.BEDS.ZS]": "hospital_beds_per_1000",
    "Arable land (hectares per person) [AG.LND.ARBL.HA.PC]": "arable_land_hectare_per_person",
    "Consumer price index (2010 = 100) [FP.CPI.TOTL]": "cpi",
    "Crop production index (2014-2016 = 100) [AG.PRD.CROP.XD]": "crop_production_index",
    "Food production index (2014-2016 = 100) [AG.PRD.FOOD.XD]": "food_production_index",
    "Households and NPISHs final consumption expenditure (% of GDP) [NE.CON.PRVT.ZS]": "percent_of_household_expenditure_in_gdp",
    "Life expectancy at birth, total (years) [SP.DYN.LE00.IN]": "life_expectancy_at_birth",
    "Mortality rate, infant (per 1,000 live births) [SP.DYN.IMRT.IN]": "infant_mortality_rate",
    "Mortality rate, under-5 (per 1,000 live births) [SH.DYN.MORT]": "child_mortality_rate",
    "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.BA.ZS]": "percentage_of_bachelor_degree",
    "Labor force participation rate, female (% of female population ages 15+) (national estimate) [SL.TLF.CACT.FE.NE.ZS]": "female_percentage_in_labor",
    "Children in employment, total (% of children ages 7-14) [SL.TLF.0714.ZS]": "percentage_of_employed_children"
}

In [85]:
df = df.rename(columns=COLUMN_NAME_MAP)
df.head(10)

,year,year_code,country_name,country_code,total_fertility_rate,gdp_2015_dollar,gdp_per_capita_2015_dollar,gdp_growth,physicians_per_1000,hospital_beds_per_1000,...,cpi,crop_production_index,food_production_index,percent_of_household_expenditure_in_gdp,life_expectancy_at_birth,infant_mortality_rate,child_mortality_rate,percentage_of_bachelor_degree,female_percentage_in_labor,percentage_of_employed_children
0,1974,YR1974,Argentina,ARG,3.251,2.570000e+11,10105.049510,5.533804,NaN,NaN,...,NaN,30.18,39.59,63.972873,66.563000,54.8,66.1,NaN,NaN,NaN
1,1974,YR1974,Brazil,BRA,4.502,5.270000e+11,4962.922366,8.153939,NaN,NaN,...,NaN,25.70,21.48,67.737286,58.881000,92.4,119.0,NaN,NaN,NaN
2,1974,YR1974,France,FRA,2.180,1.110000e+12,20813.444900,4.300919,1.40,10.50,...,21.038141,87.97,89.90,53.950938,72.604878,12.7,15.4,NaN,NaN,NaN
3,1974,YR1974,Germany,DEU,1.510,1.590000e+12,20141.939480,0.890069,NaN,NaN,...,40.427953,91.47,92.26,55.733180,71.418927,18.7,22.0,NaN,NaN,NaN
4,1974,YR1974,Poland,POL,2.260,NaN,NaN,NaN,1.60,NaN,...,0.023313,128.33,115.44,NaN,71.117073,25.6,29.0,NaN,NaN,NaN
5,1974,YR1974,Nigeria,NGA,6.703,1.400000e+11,2286.364765,11.160675,NaN,NaN,...,0.141357,25.19,24.72,NaN,42.791000,148.6,251.4,NaN,NaN,NaN
6,1974,YR1974,Kenya,KEN,7.907,1.490711e+10,1128.988828,4.065617,NaN,NaN,...,1.262465,21.18,23.23,64.429151,55.634000,84.3,135.5,NaN,NaN,NaN
7,1974,YR1974,United Kingdom,GBR,1.920,1.200000e+12,21412.351210,-2.484404,1.10,NaN,...,13.861098,76.41,84.70,68.523472,72.524390,16.0,18.7,NaN,NaN,NaN
8,1974,YR1974,China,CHN,4.170,2.840000e+11,315.816664,2.310000,0.92,1.85,...,NaN,23.24,18.43,51.879619,60.168000,65.2,90.2,NaN,NaN,NaN
9,1974,YR1974,Japan,JPN,2.050,1.770000e+12,16046.784680,-1.225240,1.10,NaN,...,50.120722,135.37,94.71,47.448999,73.672195,10.6,14.0,NaN,46.5,NaN

In [86]:
df = df[df["total_fertility_rate"].notna()]

In [87]:
df.describe()

,year,total_fertility_rate,gdp_2015_dollar,gdp_per_capita_2015_dollar,gdp_growth,physicians_per_1000,hospital_beds_per_1000,arable_land_hectare_per_person,cpi,crop_production_index,food_production_index,percent_of_household_expenditure_in_gdp,life_expectancy_at_birth,infant_mortality_rate,child_mortality_rate,percentage_of_bachelor_degree,female_percentage_in_labor,percentage_of_employed_children
count,490.000000,490.000000,4.740000e+02,474.000000,473.000000,294.000000,281.000000,480.000000,4.230000e+02,490.000000,490.000000,413.000000,490.000000,490.000000,490.000000,65.000000,306.000000,16.000000
mean,1998.000000,2.737349,1.761209e+12,16398.668233,3.186690,2.067234,6.192121,0.266286,7.405743e+01,81.189122,80.855041,59.313924,70.565484,29.020816,41.867755,17.923493,49.869837,14.407123
std,14.156588,1.737214,2.200446e+12,14224.041877,4.036624,1.088353,3.864259,0.226331,5.341177e+01,30.403127,27.610453,9.001663,10.149518,33.594149,55.308433,11.240373,7.236907,14.243745
min,1974.000000,1.164000,1.490711e+10,315.816664,-13.127880,0.049000,0.500000,0.032504,3.570000e-10,20.770000,18.430000,34.326341,42.791000,1.700000,2.300000,0.510187,27.360000,2.540000
25%,1986.000000,1.582000,3.135000e+11,2494.025393,1.112912,1.267250,2.580000,0.109406,3.591350e+01,57.567500,59.027500,54.120791,65.877000,5.125000,6.425000,6.092590,47.694000,4.800000
50%,1998.000000,1.890000,1.265000e+12,10349.906705,2.976455,2.100000,5.600000,0.224520,8.068938e+01,90.660000,93.185000,59.215896,73.748390,13.400000,15.350000,20.978775,49.511500,6.400000
75%,2010.000000,3.226500,2.477500e+12,30372.525343,5.292802,2.973500,8.600000,0.316471,1.027225e+02,101.387500,100.385000,64.690160,77.591951,42.200000,53.975000,26.476254,53.276250,24.509722
max,2022.000000,7.907000,1.630000e+13,47343.474380,15.329156,4.518000,15.600000,0.966886,4.210711e+02,143.910000,125.820000,81.856527,84.560000,148.600000,251.400000,39.590000,77.170000,40.700000

In [88]:
df.isna().sum()

year                                         0
year_code                                    0
country_name                                 0
country_code                                 0
total_fertility_rate                         0
gdp_2015_dollar                             16
gdp_per_capita_2015_dollar                  16
gdp_growth                                  17
physicians_per_1000                        196
hospital_beds_per_1000                     209
arable_land_hectare_per_person              10
cpi                                         67
crop_production_index                        0
food_production_index                        0
percent_of_household_expenditure_in_gdp     77
life_expectancy_at_birth                     0
infant_mortality_rate                        0
child_mortality_rate                         0
percentage_of_bachelor_degree              425
female_percentage_in_labor                 184
percentage_of_employed_children            474
dtype: int64

In [89]:
df.isna().groupby(df['country_name']).sum()

,year,year_code,country_name,country_code,total_fertility_rate,gdp_2015_dollar,gdp_per_capita_2015_dollar,gdp_growth,physicians_per_1000,hospital_beds_per_1000,...,cpi,crop_production_index,food_production_index,percent_of_household_expenditure_in_gdp,life_expectancy_at_birth,infant_mortality_rate,child_mortality_rate,percentage_of_bachelor_degree,female_percentage_in_labor,percentage_of_employed_children
country_name,,,,,,,,,,,,,,,,,,,,,
Argentina,0,0,0,0,0,0,0,0,33,32,...,49,0,0,7,0,0,0,49,10,47
Brazil,0,0,0,0,0,0,0,0,30,23,...,6,0,0,0,0,0,0,46,12,41
China,0,0,0,0,0,0,0,0,9,2,...,12,0,0,0,0,0,0,47,45,49
France,0,0,0,0,0,0,0,0,2,2,...,0,0,0,0,0,0,0,40,4,49
Germany,0,0,0,0,0,0,0,0,18,16,...,0,0,0,0,0,0,0,36,9,49
Japan,0,0,0,0,0,0,0,0,25,19,...,0,0,0,0,0,0,0,47,0,49
Kenya,0,0,0,0,0,0,0,0,33,40,...,0,0,0,0,0,0,0,45,42,46
Nigeria,0,0,0,0,0,0,0,0,29,43,...,0,0,0,49,0,0,0,43,41,46
Poland,0,0,0,0,0,16,16,17,6,17,...,0,0,0,21,0,0,0,36,16,49
United Kingdom,0,0,0,0,0,0,0,0,11,15,...,0,0,0,0,0,0,0,36,5,49

In [90]:
df.isna().groupby(df['year']).sum()

,year,year_code,country_name,country_code,total_fertility_rate,gdp_2015_dollar,gdp_per_capita_2015_dollar,gdp_growth,physicians_per_1000,hospital_beds_per_1000,...,cpi,crop_production_index,food_production_index,percent_of_household_expenditure_in_gdp,life_expectancy_at_birth,infant_mortality_rate,child_mortality_rate,percentage_of_bachelor_degree,female_percentage_in_labor,percentage_of_employed_children
year,,,,,,,,,,,,,,,,,,,,,
1974,0,0,0,0,0,1,1,1,5,8,...,3,0,0,2,0,0,0,10,9,10
1975,0,0,0,0,0,1,1,1,1,5,...,3,0,0,2,0,0,0,10,8,10
1976,0,0,0,0,0,1,1,1,5,8,...,3,0,0,2,0,0,0,10,8,10
1977,0,0,0,0,0,1,1,1,5,8,...,3,0,0,2,0,0,0,10,8,10
1978,0,0,0,0,0,1,1,1,6,8,...,3,0,0,2,0,0,0,10,6,10
1979,0,0,0,0,0,1,1,1,5,8,...,3,0,0,2,0,0,0,10,6,10
1980,0,0,0,0,0,1,1,1,7,3,...,2,0,0,3,0,0,0,10,5,10
1981,0,0,0,0,0,1,1,1,4,8,...,2,0,0,3,0,0,0,10,7,10
1982,0,0,0,0,0,1,1,1,5,8,...,2,0,0,3,0,0,0,10,7,10
1983,0,0,0,0,0,1,1,1,7,8,...,2,0,0,3,0,0,0,10,4,10
1984,0,0,0,0,0,1,1,1,5,8,...,2,0,0,3,0,0,0,10,6,10
1985,0,0,0,0,0,1,1,1,3,3,...,2,0,0,3,0,0,0,10,4,10
1986,0,0,0,0,0,1,1,1,5,8,...,1,0,0,3,0,0,0,10,4,10
1987,0,0,0,0,0,1,1,1,7,7,...,1,0,0,2,0,0,0,10,4,10
1988,0,0,0,0,0,1,1,1,6,7,...,1,0,0,2,0,0,0,10,4,10
1989,0,0,0,0,0,1,1,1,7,7,...,1,0,0,2,0,0,0,10,3,10
1990,0,0,0,0,0,0,0,1,3,1,...,1,0,0,2,0,0,0,10,3,10
1991,0,0,0,0,0,0,0,0,6,5,...,1,0,0,2,0,0,0,10,3,10
1992,0,0,0,0,0,0,0,0,2,5,...,1,0,0,2,0,0,0,10,3,10
1993,0,0,0,0,0,0,0,0,3,2,...,1,0,0,2,0,0,0,10,3,10
1994,0,0,0,0,0,0,0,0,4,4,...,1,0,0,2,0,0,0,10,4,10
1995,0,0,0,0,0,0,0,0,3,4,...,1,0,0,1,0,0,0,10,3,10
1996,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,10,3,10
1997,0,0,0,0,0,0,0,0,4,4,...,1,0,0,1,0,0,0,10,3,10
1998,0,0,0,0,0,0,0,0,2,4,...,1,0,0,1,0,0,0,10,3,10
1999,0,0,0,0,0,0,0,0,4,4,...,1,0,0,1,0,0,0,10,2,9
2000,0,0,0,0,0,0,0,0,3,1,...,1,0,0,1,0,0,0,10,3,9
2001,0,0,0,0,0,0,0,0,4,4,...,1,0,0,1,0,0,0,10,3,10
2002,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,10,3,10
2003,0,0,0,0,0,0,0,0,4,3,...,1,0,0,1,0,0,0,10,3,10
2004,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,10,2,8
2005,0,0,0,0,0,0,0,0,4,2,...,1,0,0,1,0,0,0,10,2,10
2006,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,9,3,10
2007,0,0,0,0,0,0,0,0,4,3,...,1,0,0,1,0,0,0,10,3,8
2008,0,0,0,0,0,0,0,0,2,3,...,1,0,0,1,0,0,0,10,3,9
2009,0,0,0,0,0,0,0,0,3,3,...,1,0,0,1,0,0,0,10,2,8
2010,0,0,0,0,0,0,0,0,3,1,...,1,0,0,1,0,0,0,5,3,9
2011,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,7,2,8
2012,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,7,3,9
2013,0,0,0,0,0,0,0,0,1,2,...,1,0,0,1,0,0,0,7,2,9
2014,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,6,3,9
2015,0,0,0,0,0,0,0,0,4,2,...,1,0,0,1,0,0,0,6,4,9
2016,0,0,0,0,0,0,0,0,2,2,...,1,0,0,1,0,0,0,4,3,10
2017,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,5,3,10
2018,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,4,3,10
2019,0,0,0,0,0,0,0,0,3,1,...,1,0,0,1,0,0,0,4,1,10
2020,0,0,0,0,0,0,0,0,3,2,...,1,0,0,1,0,0,0,3,3,10
2021,0,0,0,0,0,0,0,0,5,7,...,1,0,0,1,0,0,0,4,2,10
2022,0,0,0,0,0,0,0,0,10,10,...,1,0,0,1,0,0,0,4,2,10

In [91]:
df = df.drop(columns=["percentage_of_employed_children", "percentage_of_bachelor_degree"])

In [92]:
df = df[(df['year'] >= 1990) & (df['year'] <= 2021)]

In [93]:
df.isna().sum()

year                                         0
year_code                                    0
country_name                                 0
country_code                                 0
total_fertility_rate                         0
gdp_2015_dollar                              0
gdp_per_capita_2015_dollar                   0
gdp_growth                                   1
physicians_per_1000                        103
hospital_beds_per_1000                      87
arable_land_hectare_per_person               0
cpi                                         32
crop_production_index                        0
food_production_index                        0
percent_of_household_expenditure_in_gdp     37
life_expectancy_at_birth                     0
infant_mortality_rate                        0
child_mortality_rate                         0
female_percentage_in_labor                  89
dtype: int64

In [94]:
prepped_df = df
prepped_df.to_csv("wdi_fertility_data_prepped.csv")